@use "../../styles/partials/variables" as *;
@use "../../styles/partials/global" as *;

.newproduct {
  display: flex;
  flex-direction: column;
  &__title-container {
    height: 50%;
    display: flex;
    flex-direction: column;
    background-color: $background-green;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    padding-right: 1rem;
  }

  &__title-header {
    background-color: #00000000;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    font-size: 1.5rem;
  }

  &__title-subheader {
    background-color: #00000000;
  }

  &__title {
    width: 75%;
    height: 2rem;
    padding: 1.5rem;
    border: none;
    border-radius: 50px;

    &::placeholder {
      color: $primary-black;
      font-weight: 600;
      font-size: 0.95rem;
    }
  }

  &__description-container {
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__description-header {
    width: 100%;
    margin-bottom: 1rem;
    font-size: 1.5rem;
  }

  &__description-subheader {
    width: 100%;
  }

  &__description-input {
    border: none;
    background-color: $background-green;
    padding: 1.5rem;
    border-radius: 50px;
    width: 66%;
    margin-top: 2rem;
    height: 25%;

    &::placeholder {
      position: absolute;
      top: 25px;
      left: 25px;
      color: $primary-black;
      font-weight: 500;
      font-size: 0.95rem;
    }
  }
  &__price-container {
    background-color: $background-green;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
  &__price-header {
    background-color: #00000000;
    font-size: 1.5rem;
  }

  &__price-subheader-container {
    background-color: #00000000;
  }

  &__price-subheader {
    background-color: #00000000;
  }

  &__price-cta-container {
    background-color: #00000000;
    display: flex;
    flex-direction: row;
    gap: 3rem;
    margin-top: 4rem;
    margin-bottom: 2rem;
  }

  &__price-input {
    border: none;
    padding: 1.5rem;
    border-radius: 20px;
    background-color: $accent-yellow;

    &::placeholder {
      color: $primary-black;
      font-weight: 600;
      font-size: 0.95rem;
    }
  }
  &__image {
    &-container {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      padding: 1rem;
      border-radius: 15px;
      align-items: center;
    }
    &-header {
      background: $background-green;
      display: flex;
      justify-content: center;
      padding: 1rem;
      border-radius: 20px;
    }
    &-subheader-container {

      justify-content: center;
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 70%;
    }
    &-subheader {

      padding: 0 1rem 0 1rem;
      
    }
    &-input-container {
      background-color: $background-green;
      display: flex;
      align-items: center;
      flex-direction: column;
      gap: 1rem;
      padding: 0.5rem 1rem 1rem 1rem;
      border-radius: 15px;
      width: 80%;
    }

    &-label {
      background-color: #00000000;
      font-size: 0.9rem;
      width: 80%;
      font-weight: 600;
      font-size: 0.95rem;
    }

    &-input {
      display: flex;
      background-color: $primary-white;
      display: flex;
      align-items: center;
      padding: 0.75rem;
      border: none;
      border-radius: 15px;
      width: 80%;
    }

    &-preview {
      border: 5px solid $primary-white;
      margin: 1rem;
      height: 60%;
      max-width: 60%;
      border-radius: 15px;
    }
  }

  &__custom {
    &-file-input {
      display: flex;
      background-color: #00000000;
      gap: 1rem;
      align-items: center;
    }
    &-file-button {
      background-color: $primary-green;
      border: none;
      color: $primary-white;
      padding: 1rem;
      border-radius: 15px;
      font-weight: 600;
      font-size: 0.95rem;

      &:hover {
        cursor: pointer;
        box-shadow: 0px 7px 16px -4px rgba(28, 28, 28, 1);
      }
    }
    &-file-name {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0.5rem;
      font-size: 0.75rem;
      height: fit-content;
      border-radius: 15px;
    }
  }
  
  &__address {
    &-header-container {
      background-color: #00000000;
      margin-bottom: 1rem;
    }
    &-header {
      background-color: #00000000;
    }
    &-subheader {
      background-color: #00000000;
    }
    &-input-container {
      background-color: #00000000;
      display: flex;
      flex-direction: column;
    }
    &-label {
      background-color: #00000000;
      margin-bottom: 0.5rem;
    }
    &-input {
      background-color: $primary-white;
      border: none;
      padding: 1rem;
      border-radius: 20px;
      margin-bottom: 2rem;
    }
  }

  &__cta {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    align-items: center;
    justify-content: space-between;
    &-header {
      display: flex;
      padding-top: 5rem;
      font-size: 2rem;
    }
    &-subcontainer {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-evenly;
      width: 100%;
    }
  }

  &__cancel {
    height: 5rem;
    width: 5rem;
    background-color: $primary-white;
    border: silver 2px solid;
    color: silver;
    border-radius: 15px;
    font-size: 0.95rem;
    color: #CC003A;
    border-color: #CC003A;

    &:hover {
      cursor: pointer;
    }
  }
  
  &__submit {
    border: none;
    height: 7rem;
    width: 7rem;
    background-image: url(../../assets/submit-right-arrow.png);
    background-repeat: no-repeat;
    background-size: contain;

    &:hover {
      cursor: pointer;
    }
  }
}
#file-input {
  display: none;
}

.newproduct-container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.green-background {
  background: $background-green;
  display: flex;
  flex-direction: column;
}

.white-background {
  background: $primary-white;
  display: flex;
  flex-direction: column;
}

.direct {
//   position: fixed;
//   bottom: 100px;
  display: flex;
  flex-direction: row;
//   align-items: center;
  justify-content: center;
//   margin-left: 2rem;
  gap: 10%;
  background-color: #00000000;
  width: 100%;
//   height: 4rem;
  &-down {
    border: none;
    background-image: url(../../assets/chevron-down.svg);
    background-repeat: no-repeat;
    height: 3rem;
    width: 3rem;
    background-size: contain;
    background-color: #00000000;
  }
  &-image {
    border: none;
    background-image: url(../../assets/right-chevron.png);
    background-repeat: no-repeat;
    height: 5rem;
    width: 5rem;
    background-size: contain;
    background-color: #00000000;
  }
}
